# Jira url
jira_url: 'http://jira.cg.ru'
# Jira project id
project_id: 12533
# Jira login/password
login: 'login'
passwd: 'pass'

# Output directory date format
dir_fmt: '%m.%d'
# report base directory
base_dir: '/tmp/reports'

# Mail notification settings
mail_server_url: "zarafa.cg.ru"
user_mail: 'robot@cg.ru'
user_password: 'robot_password'

LOG_LEVEL: 'DEBUG'

recipient:
    -
